<div class="offset-3 col-6 mt-5">
  <form [formGroup]="quesForm">
    <mat-card>
      <p class="text-center">Quiz</p>
      <div class="col-12" *ngFor="let data of dataArr; let i = index">
        <div class="row">
          <div class="col-12">
            {{i+1}}. {{data.question}}
          </div>        
          <div class="col-12">
            <mat-radio-group class="w-100">
              <div class="col-12">
                <mat-radio-button class="example-radio-button" (change)="onSelectionChange(data,'A',i)" value="{{data.optionA}}">
                  {{data.optionA}}
                </mat-radio-button>
              </div>
              <div class="col-12">
                <mat-radio-button class="example-radio-button" (change)="onSelectionChange(data,'B',i)"  value="{{data.optionB}}">
                    {{data.optionB}}
                </mat-radio-button>
              </div>
              <div class="col-12">
                <mat-radio-button class="example-radio-button" (change)="onSelectionChange(data,'C',i)"  value="{{data.optionC}}">
                    {{data.optionC}}
                </mat-radio-button>
              </div>
              <div class="col-12">
                <mat-radio-button class="example-radio-button" (change)="onSelectionChange(data,'D',i)"  value="{{data.optionD}}">
                    {{data.optionD}}
                </mat-radio-button>
              </div>
              <input type="hidden" value={{data.correctAns}}>
            </mat-radio-group>
            </div> 
        </div>
      </div>
      <div class="col-12 mt-3">
        <button mat-raised-button color="primary" [disabled]="!quesForm.valid" type="button" (click)="submit()">Submit</button>  
        <button mat-raised-button color="primary" class="ml-3" type="button" (click)="home()">Go To Home</button>    
      </div>
    </mat-card>
    
  </form>
</div>
  